.fred{
  color: red;

}
.fblue{
  color: blue;

}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.fgreen{
  color: green;
}
.fgrey{
  color: grey;
}
.fbrown{
  color: brown;
}
.grey{
  background-color: grey;
}
.brown{
  background-color: brown;
}
.bred{
  border: 2px red solid;
}
.bblue{
  border: 2px solid blue;
}
.bgrey{
  border: 2px solid grey;
}
.bgreen{
  border: 2px green solid;
}
.bbrown{
  border: 2px brown solid;
}
.whdr{

}
.fs-30{
  font-size: 30px;
}
.mrgn-u2{
  margin-top: 2%;
}
.mrgn-l65{
  margin-left: 65%;
}
.il-li{
  display: inline-block;
}
